body {
  background-color: #282528;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home {
  height: 100vh;
  position: relative;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #282528;
  width: 100vw;
  z-index: 1;
}

.home nav .iconsdesktop {
  display: none;
}

.home nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px;
}

.home nav ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #FFA73C;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 1rem;
}

.home nav ul li a:hover {
  text-decoration: underline;
  color: white;
}

.home header {
  font-family: "IBM Plex Mono", sans-serif;
  color: white;
  padding: 16px;
  position: absolute;
}

.home header img {
  display: none;
}

.home header h1 {
  font-size: 3rem;
}

.home header h2 {
  font-size: 1.5rem;
}

.home .icons {
  width: 100vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 20px;
}

.home .icons ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .icons ul li {
  padding: 16px;
}

.home .icons ul li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.home .icons ul li a:hover {
  color: #FFA73C;
}

.home .icons ul li i {
  color: #FFA73C;
}

main {
  font-family: sans-serif;
  padding: 16px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#282528), to(#2E3D7C));
  background: linear-gradient(#282528, #2E3D7C);
  padding-bottom: 16px;
}

main p {
  line-height: 1.5;
}

article {
  padding: 16px;
}

article h3 {
  margin-top: 50px;
  font-size: 2rem;
  font-family: "IBM Plex Mono", sans-serif;
}

article h4 {
  margin-bottom: 0;
}

article small {
  line-height: 1;
  margin-top: 0;
  color: lightgrey;
}

article b {
  color: #FFA73C;
}

article p {
  margin-top: 0;
  margin-bottom: 0;
}

.about {
  padding-top: 32px;
}

.about p {
  padding-bottom: 16px;
}

.contact {
  display: block;
  padding-top: 32px;
  padding: 16px;
  background-color: #2E3D7C;
}

.contact h4 {
  margin: 0;
  margin-top: 16px;
}

.contact ul {
  list-style: none;
  font-family: "Source Code Pro", sans-serif;
  padding-left: 0;
  margin-top: 0;
}

.contact ul li {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.5;
}

.contact ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.contact ul li a:hover {
  color: #FFA73C;
}

.contact ul li i {
  padding-right: 8px;
}

.work {
  padding-top: 32px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home nav .navlinks {
    width: 50%;
  }
  .home nav .navlinks li a {
    font-size: 1.5rem;
  }
  .home nav .iconsdesktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50%;
    margin: 0;
    padding-left: 16px;
  }
  .home nav .iconsdesktop ul li {
    padding-left: 8px;
  }
  .home header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 10%;
  }
  .home header img {
    display: block;
    border-radius: 30%;
  }
  .home header h1 {
    font-size: 4rem;
  }
  .home header h2 {
    font-size: 2rem;
    margin: 8px;
  }
  .home .icons {
    display: none;
  }
  .wrap {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .about .aboutme {
    width: 85%;
  }
  .about .aboutme h3 {
    margin-top: 0;
  }
  .about a:hover {
    color: #FFA73C;
  }
  .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .work article {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */